.todo {
  position: relative;
  text-align: left;
  max-width: 500px;
  margin: 0 auto 25px auto;
  padding: 15px;
  background-color: white;
  border: 1px solid #33333333;
  border-radius: 7.5px;
}

.todo > hr {
  border: 1px solid #66666622;
  width: 100%;
  margin: 5px 0;
}

.todo > h6 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: 2px dotted #66666666;
}
